!www/*.css
!www/*.js
!www/min
!www/*-min.*
*.png
*.jpg
*.jpeg
!www/img/*.png
!www/img/*.jpg
!www/img/*.jpeg
#ingore .code locally for current git repo, and there is global ~/.gitignore_global setting for ignore .code for all git repos
.code
