# Auto detect text files and perform LF normalization
* text=auto

# Homework:
# Windows files (eed CRLF)
#
*.ps1 eol=crlf

# Unix files (need LF)
#
*.sh eol=lf

# Custom diff for html
#
*.html      diff=html

# CHANGELOG merging
#
CHANGELOG.md merge=union

