# www/css folder only for *.css files
#
www/css/*
!www/css/*.css

# www/css folder only for *.js files
#
www/js/*
!www/js/*.js

# www/min folder - only files with `-min` in names
#
www/min/*
!www/min/*-min.*

# allow png/jpg/jpeg files only in www/img folder
#
*.png
*.jpg
*.jpeg
!www/img/*.png
!www/img/*.jpg
!www/img/*.jpeg

# ingore .code locally for current git repo,just for example, and there is global ~/.gitignore_global setting for ignore .code for all git repos
#
.code
